<!doctype html>
<html lang="en-US">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aplikasi Perpustakaan KPK</title>
    <!-- <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Arisn - Multi Purpose HTML5 Template">
    <meta name="author" content="premonday.com"> -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Poppins:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/vendor/reset.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/ion-icons/ionicons.min.css">
    <link rel="stylesheet" href="assets/vendor/owl-slider/owl.carousel.css">
    <link rel="stylesheet" href="assets/vendor/slideshow/slideshow.css">
    <link rel="stylesheet" href="assets/vendor/lightbox/lity.min.css">
    <!-- Theme CSS -->
    <link id="theme" rel="stylesheet" href="assets/css/theme4.css">

    <script src="assets/vendor/modernizr.js"></script>
</head>

<body>

    <!-- Scroll up -->
    <div class="scrollup">
        <i class="ion-ios-arrow-up"></i>
    </div>

    <!-- Main Container -->
    <div class="web-in">

        <!-- Search Modal -->
        <div id="search-modal">
            <img src="assets/img/exit.svg" class="exit" alt="">
            <form class="search-form" action="post">
                <label style="color:white;">Ketikkan satu atau lebih kata kunci dari judul, penerbit, penulis, subjek atau no. telepon</label>
                <input type="text" placeholder="Input disini">
                <span>Klik <b class="primary">enter</b> untuk mulai pencarian</span>
            </form>
        </div>

        <!-- Start Project Modal -->
        <div id="modal-bg">
            <img src="assets/img/exit.svg" class="exit" alt="">
            <div class="holder">
                <div class="placer">
                    <div id="modal" class="center">
                        <div class="title">
                            <h5>Get the App</h5>
                            <span class="promo-heading">Download Arisn today</span>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 w-section mh"><i class="ion-social-apple"></i>
                                <h3>Mac</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                                <a href="#" class="btn"><span>App Store</span></a>
                            </div>
                            <div class="col-sm-6 w-section mh"><i class="ion-social-android"></i>
                                <h3>Android</h3>
                                <p>Lorem ipsum dolor amet consectetuer adipis.
                                </p>
                                <a href="#" class="btn"><span>Play Store</span></a>
                            </div>
                            <div class="col-sm-12">
                                <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Officiis, ea. Asperiores deleniti voluptas
                                    quaerat dolor culpa dolores est nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="light" class="transparent start-light regular">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-ui n_">
                            <div>
                                <!-- <a href="#" class="btn hidden-xs start-project"><span>Download the App</span></a> -->
                                <!-- <a href="#" class="search">
                                    <img class="white-icon" src="img/search.svg" alt="">
                                    <img class="dark-icon" src="img/search-dark.svg" alt="">
                                </a> -->
                                <div id="menu-icon"><span></span></div>
                            </div>
                        </div>
                        <div class="logo-holder n_">
                            <div>
                                <a href="index.html">
                                    <img class="logo" src="assets/img/lokok.png" style="height:80px;width:80px; border-radius:80px; margin-top:10px;" alt="" >
                                    <img class="logo alt" src="assets/img/loko.png" style="height:80px;width:80px;" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="nav-content n_ pull-right">
                            <ul>
                                <li class="tet"><a href="#" style="font-size:16px;">Beranda</a></li>
                                <li><a href="#" style="font-size:16px;">Koleksi</a></li>
                                <li><a href="#" style="font-size:16px;">Publikasi Lokal Universitas</a></li>
                                <li><a href="#" style="font-size:16px;">Aktivitas</a></li>
                                <li><a href="#" style="font-size:16px;">Newsletter</a></li>
                                <li>
                                  <a href="#" style="font-size:16px;">
                                    <img src="assets/img/indonesia.png" alt="" style="height:20px; width:20px; border-radius:100px;">
                                  </a>
                                  &nbsp;&nbsp;
                                  <a href="#" style="font-size:16px;">
                                    <img src="assets/img/inggris.jpg" alt="" style="height:20px; width:20px; border-radius:100px;">
                                  </a>
                                    <!-- <ul class="dropdown mob-show-1" style="width:100px;">
                                        <li class="nav-col">
                                            <ul>
                                                <li class="sub-nav-header">
                                                    <ul>
                                                        <li>
                                                          <center><a href="#"><img src="img/inggris.jpg" alt="" style="height:18px; width:30px;"></a></center>
                                                        </li>
                                                        <li><center><a href="#"><img src="img/indonesia.png" alt="" style="height:18px; width:30px;"></a></center>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> -->
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </nav>

        <header id="neutral" class="center" data-overlay="8">
          <div class="parallax" id="12">
            <img src="assets/img/bg-perpus.jpg" alt="" class="sld gbr1">
            <img src="assets/img/bg0.jpg" alt="" class="sld gbr2" style="display:none;">
          </div>
            <div class="header-in">
                <div class="caption dark1">
                    <h1 style="margin-top:-100px;font-family:Poppins, sans-serif;">Perpustakaan KPK</h1>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form action="post">
                                <input style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;" type="text" placeholder="Cari... " class="col-md-12" style="color:white;">
                                <input type="submit" name="" value="Search" style="position:absolute;top:0px; right:15px;border-top-right-radius:25px;border-bottom-right-radius:25px;">
                            </form>
                        </div>
                        <br class="hidden-md-up">
                        <div class="col-md-6 col-md-offset-3">
                          <center>
                            <p>Tautan Utama Pengetahuan Antikorupsi</p>
                          </center>
                        </div>
                    </div>
                </div>
                <!-- <img class="arrow" src="img/arrow.svg" alt=""> -->
            </div>
        </header>

        <section class="iconblock gallery center" style="background-color:#929191;">
            <div class="container border">
                <div class="row">
                    <div class="col col-md-6 col-md-offset-3 title">
                        <h2>Koleksi Terbaru Kami</h2>
                    </div>
                </div>
                <div class="row m-space">
                  <div id="c_logos" class="area">
                              <div class="col-md-12 slide">
                                  <div>
                                    <center>
                                      <i><img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                                    </center>
                                    <a href="#"><h3>Judulnya Disini</h3></a>
                                    <p style="color:white;">Disini tertera penulisnya</p>
                                    <div class="team-profile">
                                      <div class="social">
                                          <a href="#"><i class="ion-social-twitter"></i></a>
                                          <a href="#"><i class="ion-social-googleplus"></i></a>
                                          <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                          <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                          <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                          <a href="#"><i class="ion-social-github"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                  <div>
                                    <center>
                                      <i><img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                                    </center>
                                    <a href="#"><h3>Judulnya Disini</h3></a>
                                    <p style="color:white;">Disini tertera penulisnya</p>
                                    <div class="team-profile">
                                      <div class="social">
                                          <a href="#"><i class="ion-social-twitter"></i></a>
                                          <a href="#"><i class="ion-social-googleplus"></i></a>
                                          <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                          <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                          <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                          <a href="#"><i class="ion-social-github"></i></a>
                                      </div>
                                    </div>
                                  </div><div>
                                    <center>
                                      <i><img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                                    </center>
                                    <a href="#"><h3>Judulnya Disini</h3></a>
                                    <p style="color:white;">Disini tertera penulisnya</p>
                                    <div class="team-profile">
                                      <div class="social">
                                          <a href="#"><i class="ion-social-twitter"></i></a>
                                          <a href="#"><i class="ion-social-googleplus"></i></a>
                                          <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                          <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                          <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                          <a href="#"><i class="ion-social-github"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                  <div>
                                    <center>
                                      <i><img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                                    </center>
                                    <a href="#"><h3>Judulnya Disini</h3></a>
                                    <p style="color:white;">Disini tertera penulisnya</p>
                                    <div class="team-profile">
                                      <div class="social">
                                          <a href="#"><i class="ion-social-twitter"></i></a>
                                          <a href="#"><i class="ion-social-googleplus"></i></a>
                                          <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                          <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                          <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                          <a href="#"><i class="ion-social-github"></i></a>
                                      </div>
                                    </div>
                                  </div>
                                  <div>
                                    <center>
                                      <i><img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                                    </center>
                                    <a href="#"><h3>Judulnya Disini</h3></a>
                                    <p style="color:white;">Disini tertera penulisnya</p>
                                    <div class="team-profile">
                                      <div class="social" style="color:white;">
                                          <a href="#"><i class="ion-social-twitter"></i></a>
                                          <a href="#"><i class="ion-social-googleplus"></i></a>
                                          <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                          <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                          <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                          <a href="#"><i class="ion-social-github"></i></a>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                  </div>
                </div>
            </div>
        </section>
        <section class="gallery no-lr-pad">
            <div class="container-fluid no-pad">
                <div class="row">
                    <div class="col col-md-6 col-md-offset-3 title">
                        <h2>Koleksi Terpopuler</h2>
                        <h4>Terbanyak dipinjam, dibaca dan dikunjungi</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-loop-fade">
                            <div>
                                <br>
                                  <center>
                                    <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                  </center>
                                  <br>
                                  <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                  <br>
                                  <small>Disini Penulisnya</small>
                                  <br>
                                  <a>
                                    <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                  </a>

                                  <div class="team-profile">
                                    <div class="social">
                                        <a href="#"><i class="ion-social-twitter"></i></a>
                                        <a href="#"><i class="ion-social-googleplus"></i></a>
                                        <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                        <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                        <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                        <a href="#"><i class="ion-social-github"></i></a>
                                    </div>
                                  </div>
                                  <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                            <div>
                              <br>
                                <center>
                                  <img src="assets/img/book.png" alt="" style="border-radius:10px; max-width:150px;">
                                </center>
                                <br>
                                <a href="#" style="font-size:24px;">Disini Judulnya</a>
                                <br>
                                <small>Disini Penulisnya</small>
                                <br>
                                <a>
                                  <small>Dipinjam : 10 <br> Dibaca : 20 <br> Dikunjungi : 40</small>
                                </a>

                                <div class="team-profile">
                                  <div class="social">
                                      <a href="#"><i class="ion-social-twitter"></i></a>
                                      <a href="#"><i class="ion-social-googleplus"></i></a>
                                      <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                      <a href="#"><i class="ion-social-linkedin-outline"></i></a>
                                      <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                      <a href="#"><i class="ion-social-github"></i></a>
                                  </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section id="c_counter" class="dark parallax-container" data-overlay="7">
            <div class="parallax"><img src="img/bg-perpus.jpg" alt=""></div>
            <div class="container">
              <div class="col-md-12">
                <center>
                  <h2>Pustakawan Kami</h2>
                </center>
              </div>
              <div class="col-md-3">
                <center>
                  <i><img src="img/user.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                <p>
                  Nama Pustakawan
                  <br>
                  <small>
                    Jabatan
                  </small>
                </p>
                </center>
              </div>
              <div class="col-md-3">
                <center>
                  <i><img src="img/user.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                <p>
                  Nama Pustakawan
                  <br>
                  <small>
                    Jabatan
                  </small>
                </p>
                </center>
              </div>
              <div class="col-md-3">
                <center>
                  <i><img src="img/user.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                <p>
                  Nama Pustakawan
                  <br>
                  <small>
                    Jabatan
                  </small>
                </p>
                </center>
              </div>
              <div class="col-md-3">
                <center>
                  <i><img src="img/user.png" alt="" style="border-radius:10px; max-width:150px;"></i>
                <p>
                  Nama Pustakawan
                  <br>
                  <small>
                    Jabatan
                  </small>
                </p>
                </center>
              </div>
            </div>
        </section> -->
        <!-- Services -->
        <section class="dark1">
            <div class="container">
                <div class="row m-space">
                  <div class="col-md-12 service">
                    <center>
                      <h2>Tentang Kami</h2>
                      <hr>
                      <h4>Terima kasih telah berkunjung ke katalog online Perpustakaan KPK</h4>
                      <p>
                        Perpustakaan KPK merupakan perpustakaan khusus bidang korupsi dan subjek terkait. Perpustakaan KPK mengumpulkan, menyimpan, mengelola, dan menyebarluaskan data, informasi, dan pengetahuan publik yang berasal dari tugas atau kegiatan internal KPK maupun stake holder lainnya. Perpustakaan KPK berperan mendukung pelaksanaan tugas KPK dan masyarakat luas dalam memenuhi kebutuhan literaturnya
                      </p>
                    </center>
                  </div>
                    <div class="col-sm-6 service">
                        <i class="ion-ios-lightbulb-outline"></i>
                        <h5>Visi</h5>
                        <p>Menjadi perpustakaan rujukan bidang korupsi dan subjek terkait </p>
                    </div>
                    <div class="col-sm-6 service">
                        <i class="ion-ios-barcode-outline"></i>
                        <h5>Misi</h5>
                        <p>Mengumpulkan dan mengelola data, informasi, dan pengetahuan publik mengenai korupsi dan subjek terkait .</p>
                    </div>
                    <div class="col-md-12">
                      <center>
                        <p>
                          Kami percaya bahwa masyarakat yang melek informasi mengenai korupsi membuka jalan menuju masyarakat yang anti korupsi.
                          <br><br>
                          Salam,
                          <br>
                          Pustakawan KPK
                        </p>
                      </center>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid no-pad no-max">
            <div class="col-md-6 mh">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4256944914428!2d106.82789701424126!3d-6.207446395506333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f40eaa579f6f%3A0x3177a5ac88a987e8!2sGedung+Merah+Putih+KPK!5e0!3m2!1sid!2sid!4v1504597967593" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-3 col-sm-6 mh center extra-pad"
               style="background-color:red;">
                
                <div class="holder">
                    <div class="placer">
                      <p style="color:white;">
                        Kunjungi kami di :
                        <br>
                        <br>
                        Gedung Merah Putih KPK <br>
                        Lt. 1, Jln Kuningan Persada <br>
                        Kav. 4, Setiabudi <br>
                        Jakarta Selatan, 12950 <br>
                        <br>
                        E-mail : perpustakaan@kpk.go.id  <br>
                        Telp. (021) 25578300, ext. 8642 <br>

                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mh center extra-pad dark parallax-container address-hold"
                data-overlay="9">
                <div class="parallax"><img src="assets/img/headers/subpage.jpg" alt=""></div>
                <div class="holder">
                    <div class="placer">
                        <p>
                          Waktu Pelayanan <br>
                          <br>
                          Senin-Jumat: 08.00-17.00 WIB (istirahat 12.00-13.00 WIB) <br><br>


                          <!-- informasi@kpk.go.id -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer id="smart" class="dark1">
            <div class="container">
                    <div class="col-xs-12 xs-center">
                        <p class="footer-text">Copyright &copy; Perpustakaan KPK. All rights reservered
                    </div>
            </div>
        </footer>

    </div>
    <!-- end of web-in -->
    <script src="assets/vendor/jquery-2.2.1.min.js"></script>
    <script src="assets/vendor/matchHeight-min.js"></script>
    <script src="assets/vendor/contact/validator.js"></script>
    <script src="assets/vendor/contact/contact.js"></script>
    <script src="assets/vendor/pace.min.js"></script>
    <script src="assets/vendor/headroom/headroom.min.js"></script>
    <script src="assets/vendor/owl-slider/owl.carousel.min.js"></script>
    <script src="assets/vendor/slideshow/anime.min.js"></script>
    <script src="assets/vendor/slideshow/imagesloaded.pkgd.min.js"></script>
    <script src="assets/vendor/slideshow/main.js"></script>
    <script src="assets/vendor/parallax/materialize.min.js"></script>
    <script src="assets/vendor/lightbox/lity.min.js"></script>
    <script src="assets/vendor/tabs/jquery.tabslet.min.js"></script>
    <script src="assets/vendor/masonry.pkgd.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript">
    myFunction();
    function myFunction() {
        myVar = setTimeout(sldsld, 5000);
    }
    function sldsld() {
      $('.sld').fadeToggle(3000);
      myFunction();
    }
    </script>
</body>

</html>
